*
{
    padding: 0;
    margin: 0;
}

html
{
    font-family: "Verdana", "Sans-Serif";
}

p
{
    padding: 5px;
}

li
{
    margin-bottom: 5px;
    margin-left: 30px;
}

#wrapper
{
    margin-right: 10px;
    margin-left: 10px;
}

.tt
{
    font-family: "Lucida Console", monospace;
}

.int21_fkt
{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}
