#memoryMap
{
    width: 80%;
}

.memoryBlock
{
    border: 1px solid black;
    width: 150px;
    height: 50px;
    float: left;
    text-align: center;
    color: black;
}

.unusable
{
    background-color: red;
}

.free
{
    background-color: green;
}

.special
{
    background-color: yellow;
}

.readonly
{
    background-color: orange;
}
